<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    [mode]="'side'"
    [(opened)]="isSidenavOpened"
    class="sidenav"
    #sidenav
  >
    <mat-toolbar>Admin Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Dashboard</a>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Product </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="products">Product List</a>
          <a mat-list-item routerLink="products/create">Add product</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Orders </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item class="mat-list-item">Order</a>
          <a mat-list-item>Order List</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <a mat-list-item>Settings</a>
      <a mat-list-item>Reports</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>
          {{ isSidenavOpened ? "chevron_left" : "chevron_right" }}
        </mat-icon>
      </button>
      Admin Dashboard
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
